body {
  font-size: 16px;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  font-family: "Arial", Helvetica, sans-serif;
}

#header-nav {
  background-color: rgb(112,138,144);
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  color: rgb(0,0,0);
}

.column-menuitem {
  background-color: rgb(112,138,144);
  border-color: rgb(0,0,0);
  border: 1px;
  padding: 5px;
}
.menuitem-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;

}
.menuitem-description{
  font-weight: normal;
  text-align: justify;
  padding: 10px;
  margin: 0 auto;
}
.row{
  padding-top: 10px;
  padding-bottom: 10px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: rgb(0,0,0);
  text-align: center;
}
#nav-list a:hover {
  background: rgb(255,255,255);
}
#nav-list a span {
  font-size: 1.8em;
}
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: -10px;
    height: 80px;
    
  }

  .navbar-brand h3{
    font-size: 5vw;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }


  /* End Header */

}
